<footer class="footer">
    <div class="footer__content">
        <ul class="footer__list">
            <li class="footer__list-item">2</li>
            <li class="footer__list-item">2</li>
            <li class="footer__list-item">2</li>
            <li class="footer__list-item">2</li>
        </ul>
    </div>
</footer>