@import './reset';

@import '../../views/components/footer/footer';

html, body {
    overflow-x: hidden;
}

.container {
    padding: 68px 20px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: brown;
    display: flex;
}

.header__logo {
    flex: 0 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid coral;
}

.header__navbar {
    flex-grow: 1;
}

.header__navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}

